{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="MainView">
        <div class="TopView">
            <img src="{% static "image/Logo.PNG" %}" alt="animal">
            <p class="TopViewText">
                سامانه ثبت ساعت شرکت عرش
            </p>
        </div>

        <div class="ContentView">
            <div class="JobView">
                <table style="width:100%">
                    <tr>
                        <th>مدت زمان</th>
                        <th>پایان</th>
                        <th>شروع</th>
                        <th>عنوان کار</th>
                    </tr>

                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.initial_time }}</td>
                            {#duration will be placed        #}
                            <td>{{ job.finish_time }}</td>
                            <td>{{ job.finish_time }}</td>
                            <td>{{ job.title }}</td>
                        </tr>
                    {% endfor %}


                </table>
                <input class="InputView" type="text"
                       placeholder="کار جدید را وارد کنید"/>
            </div>

            <div class="JobsBoxView">

                <p class="JobsBoxViewText">
                    بسته های کاری
                </p>
                <div class="JobsBoxViewScroll">
                    {% for box in jobs_box %}

                        <button class="JobBoxButton">
                            <a href="/{{ box.pk }}">{{ box.initial_time }} {{ box.title }} </a>

                            {#                            {{ box.initialTime }}#}
                        </button>

                    {% endfor %}

                </div>
                <div class="JobsBoxViewButtonView">
                    <button class="JobsBoxViewButton" type="submit">ایجاد بسته کاری جدید</button>
                </div>

            </div>

        </div>

    </div>
{% endblock %}